APP_NAME=template
ENVIRONMENT=local

IGNITION_LOCAL_SITES_PATH="" # Path to this project in your local machine

# SERVICES
COVERS_SERVICE_URL=http://covers:8000/
MB_SERVICE_URL=http://mb:8000/
TAGGER_SERVICE_URL=http://tagger:8000/
ALPHA_PLUGIN_URL=http://alpha-plugin:8000/

# DEBUG
TELESCOPE_ENABLED=true
APP_DEBUG=true

# LARAVEL
APP_ENV=local
APP_KEY=
APP_URL=http://localhost:8080
ASSET_URL=${APP_URL}

# DB
DB_HOST=127.0.0.1 # it is replaced by the docker-compose file for php
DB_DATABASE=database
DB_USERNAME=user
DB_PASSWORD=pass

# TYPESENSE
TYPESENSE_API_KEY=123
TYPESENSE_HOST=typesense

# MINIO
AWS_ENDPOINT=http://minio:9000
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_URL=http://localhost:9090/public-bucket

#SENTRY
SENTRY_DSN=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_ENVIRONMENT="${ENVIRONMENT}"
SENTRY_SAMPLE_RATE=0.5
SENTRY_TRACES_SAMPLE_RATE=0.05
