# DEPLOY
APP_NAME=template

DOCKER_REGISTRY=registry.home.vlineros.cl
GITHUB_REPO=vicholp/template
ENVIRONMENT=main

TRAEFIK_LARAVEL_HOST=template.home.vlineros.cl
TRAEFIK_MINIO_HOST=minio.template.home.vlineros.cl
TRAEFIK_CERT_RESOLVER=myresolver

# DEBUG
TELESCOPE_ENABLED=true
APP_DEBUG=true

# LARAVEL
APP_ENV=local
APP_KEY=
APP_URL=https://${TRAEFIK_LARAVEL_HOST}
ASSET_URL=${APP_URL}

# DB
DB_HOST=mariadb
DB_DATABASE=database
DB_USERNAME=user
DB_PASSWORD=pass

# TYPESENSE
SCOUT_DRIVER=typesense
TYPESENSE_API_KEY=123
TYPESENSE_HOST=typesense

# MINIO
AWS_ENDPOINT=http://minio:9000
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_URL=https://${TRAEFIK_MINIO_HOST}/public-bucket

#SENTRY
SENTRY_DSN=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_ENVIRONMENT="${ENVIRONMENT}"
SENTRY_SAMPLE_RATE=0.5
SENTRY_TRACES_SAMPLE_RATE=0.05

# VITE
VITE_SENTRY_DSN="${SENTRY_DSN}"
VITE_SENTRY_AUTH_TOKEN="${SENTRY_AUTH_TOKEN}"
VITE_SENTRY_ORG="${SENTRY_ORG}"
VITE_SENTRY_PROJECT="${SENTRY_PROJECT}"
VITE_SENTRY_ENVIRONMENT="${SENTRY_ENVIRONMENT}"
VITE_SENTRY_SAMPLE_RATE="${SENTRY_SAMPLE_RATE}"
VITE_SENTRY_TRACES_SAMPLE_RATE="${SENTRY_TRACES_SAMPLE_RATE}"
